<!---modelo vista-->

<style>
    table, th, td{
    border: 1px solid black;
}
</style>


<% const existeMensaje = typeof mensaje !== "undefined" ? true : false;%>

<%if(existeMensaje){%>

    <p>MENSAJE: <%= mensaje%></p>

<%}%>

<script>
    function holaMundo() {
        console.log('Hola mundo')
    }

</script>


<button onclick="holaMundo()"> click </button>


<form action="/Usuario/inicio" method="get">

    <div>
        <label for="busqueda">BUSQUEDA</label>
        <input type="text" name="busqueda" id="busqueda">
    </div>

    <button type="submit">BUSCAR</button>




</form>


<a href="/Usuario/crear-usuario">
    <button>Crear Usuario</button>

</a>






<!---cuando se tiene solo % sin = no se muestra al cliente-->

<% var apellido = "guerrero" %>
<!---cuando se tiene solo % coin =si se muestra al cliente-->

<h1>
    <%=nombre%>
    <%=apellido%>
</h1>

<p>PARRAFPO</p>
<h2>ARREGLO</h2>

<!---ul unordered list se indica con vi;etas-->
<!---ol ordered list no se indica con vinetas-->

<ol>
    <!---li list item-->
    <li>1</li>
    <li>2</li>
    <li>3</li>
    <li>4</li>
    <li>5</li>
</ol>

<!---for each ordenado-->

<ol>

    <% arreglo.forEach((numero)=>{ %>
    <li>
        <%=numero.nombre%>
    </li>
    <%})%>


</ol>


<!---for each sin ordenar-->
<% arreglo.forEach((numero)=>{ %>
<%=numero.nombre%>
<%})%>


<!--talbas es para ordenar-->


<table>

    <!--tr seria como las fileas-->
    <tr>
        <!--th seria como los headers o categoria-->
        <th>NOMBRE</th>
        <th>BIOGRAFIA</th>
        <th>ACCIONES</th>
    </tr>

    <% arreglo.forEach((usuario)=>{ %>
    <tr>
        <!-- td -> table detail -->
        <td>
            <%=usuario.nombre%>
        </td>
        <td>
            <%=usuario.biografia%>
        </td>

        <td>
            <form action="/Usuario/borrar/<%=usuario.id%>" method="post">
                <!--button type="button">Yo no</button>-->
                <!--<button>Yo si</button>-->
                <button type="submit">Eliminar</button>
            </form>






            <a href="/Usuario/actualizar-usuario/<%=usuario.id%>">
                <button>Actualizar</button>
            </a>






        </td>
    </tr>



    <%})%>
    <!--finaliza for each-->





</table>